.navbar {
    background-image: linear-gradient(315deg, var(--secondary-blue),var(--primary-blue)) ;
}

.text-light-link {
    color: #ffffff8c;
    text-decoration: none;
    transition: .3s;
}
    .text-light-link:hover {
        color: #ffffffbf;
    }