<nav class="navbar navbar-dark navbar-expand-lg p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="assets/logo-text_only.png" alt="Logo" width="150" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/skils">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adm">ADM</a>
                </li>
            </ul>
        </div>
        <div class="me-5 clickable-row">
            @if (hasNotifications()) {
                <div class="nav-item dropdown">
                    <a class="btn btn-link fs-4 text-light-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bell"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-1">
                        <li>
                            <a class="dropdown-item rounded-1" href="#">Formulário SWOT recebido</a>
                        </li>
                        <li>
                            <a class="dropdown-item rounded-1" href="#">Plano de Ação recebido</a>
                        </li>
                    </ul>
                </div>
            }
            @else {
                <div class="nav-item dropdown">
                    <a class="btn btn-link fs-4 text-light-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-bell"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-1">
                        <li class="text-center"><span class="small">Nenhuma notificação</span></li>
                    </ul>
                </div>
            }
        </div>
        <div class="">
            <a class="text-light-link" href="/auth/login">Sair</a>
        </div>
    </div>
</nav>