<div class="container">
    <div class="m-auto mt-4">
        <h3 class="text-center mb-5 h2">
            Seu perfil
        </h3>
        <form class="">
            <div class="form-floating mb-4"> 
                <input type="email" class="form-control" id="floatingInput" placeholder="exemplo@email.com" disabled> 
                <label for="floatingInput">exemplo&#64;email.com</label> 
            </div>
            <div class="row">
                <div class="form-floating mb-4 col-md-4">
                    <input type="password" class="form-control" id="floatingCurrentPassword" placeholder="Senha atual">
                    <label for="floatingCurrentPassword" class="ms-2">Senha atual</label> 
                </div>
                <div class="form-floating mb-4 col-md-4">
                    <input type="password" class="form-control" id="floatingNewPassword" placeholder="Nova senha">
                    <label for="floatingNewPassword" class="ms-2">Nova senha</label> 
                </div>
                <div class="form-floating mb-4 col-md-4">
                    <input type="password" class="form-control" id="floatingConfimeNewPassword" placeholder="Confirmar nova senha">
                    <label for="floatingConfirmNewPassword" class="ms-2">Confirmar nova senha</label> 
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-primary-blue px-5 py-2" type="submit">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>
