<div class="container text-center mt-5">
    <div class="">
        <h3>Matriz SWOT</h3>
    </div>
    <div class="row row-cols-2 mt-4">
        <div class="col p-3">
            <div class="card text-center shadow rounded-3 strengths">
                <div class="card-header">
                    <h5 class="card-title">Forças</h5>
                </div>
                <div class="card-body">
                    <div key={index} className="flex gap-2 mb-2">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Digite uma força">
                            <button class="btn btn-danger" variant="destructive">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                          </div>
                    </div>

                    <button class="btn btn-outline-secondary col-6" (click)={}>
                        <i class="fa-solid fa-plus"></i> Adicionar
                    </button>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card text-center shadow rounded-3 opportunities">
                <div class="card-header">
                    <h5 class="card-title">Oportunidades</h5>
                </div>
                <div class="card-body">
                    <div key={index} className="flex gap-2 mb-2">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Digite uma oportunidade">
                            <button class="btn btn-danger" variant="destructive">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                          </div>
                    </div>

                    <button class="btn btn-outline-secondary col-6" (click)={}>
                        <i class="fa-solid fa-plus"></i> Adicionar
                    </button>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card text-center shadow rounded-3 weaknesses">
                <div class="card-header">
                    <h5 class="card-title">Fraquesas</h5>
                </div>
                <div class="card-body">
                    <div key={index} className="flex gap-2 mb-2">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Digite uma fraquesa">
                            <button class="btn btn-danger" variant="destructive">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                          </div>
                    </div>

                    <button class="btn btn-outline-secondary col-6" (click)={}>
                        <i class="fa-solid fa-plus"></i> Adicionar
                    </button>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card text-center shadow rounded-3 threats">
                <div class="card-header">
                    <h5 class="card-title">Ameaças</h5>
                </div>
                <div class="card-body">
                    <div key={index} className="flex gap-2 mb-2">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Digite uma ameaça">
                            <button class="btn btn-danger" variant="destructive">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                          </div>
                    </div>

                    <button class="btn btn-outline-secondary col-6" (click)={}>
                        <i class="fa-solid fa-plus"></i> Adicionar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>