<div class="container">

    <div class="text-center">
        <h3 class="mt-4 mb-4 h2">Home</h3>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover mb-5">
                <thead class="table-dark">
                    <tr>
                        <th class="rounded-start-1 border-0 px-md-3 custom-py-3" style="width: 80%;">Tarefa</th>
                        <th class="rounded-end-1 border-0 px-md-3 custom-py-3" style="width: 20%;">Situação</th>
                    </tr>
                </thead>
                <tbody>
                    @if (getTasks().length) {
                        @for(task of getTasks(); track task.id) {
                            <tr class="clickable-row border-bottom border-dark-subtle" title="Clique para abrir a tarefa" (click)="openTask(task.type)">
                                <td class="px-md-3 custom-py-3 evolution-bg-primary">{{task.name}}</td>
                                <td class="px-md-3 custom-py-3 evolution-bg-primary">{{task.state}}</td>
                            </tr>
                        }
                    }
                    @else {
                        <tr class="">
                            <td colspan="2" class="px-md-3 custom-py-3 text-center">Nenhuma tarefa no momento</td>
                        </tr>
                    }
                    
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center my-1">Gráfico 1</h5>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center my-1">Gráfico 2</h5>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>