<div class="col text-center">
    <div class="mb-3">
        <h4>
            Soft Skills
        </h4>
    </div>
    <div class="text-end mb-3">
        <button type="button" class="btn btn-secondary">
            + Nova Soft Skill
        </button>
    </div>
    <table class="table table-hover table-striped mb-5">
        <thead class="table-dark">
            <tr>
                <th class="rounded-start-1 border-0 px-md-3 custom-py-3 text-start" style="width: 80%;">
                    Nome
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable-row border-bottom border-dark-subtle d-none" title="Clique para editar">
                <td class="px-md-3 custom-py-3 evolution-bg-primary rounded-start-1">

                </td>
                <td class="px-md-3 custom-py-3 evolution-bg-primary rounded-end-1">

                </td>
            </tr>
            <tr class="clickable-row border-bottom border-dark-subtle">
                <td colspan="1" class="px-md-3 custom-py-3 evolution-bg-primary rounded-2">
                    Nenhuma soft skill cadastrada
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
