<div class="container mt-4 d-flex justify-content-center">
    <div class="card border-0 bg-transparent col">
        <div class="d-flex">
            <div class="align-itens-center justify-content-center p-5 py-4 strengths col">
                <div class="mb-4">
                    <h3 class="text-white">Forças</h3>
                </div>
                <app-add-field />
                <div class="mt-4">
                    <app-swot-item [inputSwotItens]="getSwotItens('strengths')" [swotType]="'strengths'"/>
                </div>
            </div>
            <div class="align-itens-center justify-content-center p-5 py-4 opportunities col">
                <div class="mb-4">
                    <h3 class="text-white">Oportunidades</h3>
                </div>
                <app-add-field />
                <div class="mt-4">
                    <app-swot-item [inputSwotItens]="getSwotItens('opportunities')" [swotType]="'opportunities'"/>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="align-itens-center justify-content-center p-5 py-4 weaknesses col">
                <div class="mb-4">
                    <h3 class="text-white">Fraquezas</h3>
                </div>
                <app-add-field />
                <div class="mt-4">
                    <app-swot-item [inputSwotItens]="getSwotItens('weaknesses')" [swotType]="'weaknesses'"/>
                </div>
            </div>
            <div class="align-itens-center justify-content-center p-5 py-4 threats col">
                <div class="mb-4">
                    <h3 class="text-white">Ameaças</h3>
                </div>
                <app-add-field />
                <div class="mt-4">
                    <app-swot-item [inputSwotItens]="getSwotItens('threats')" [swotType]="'threats'"/>
                </div>
            </div>
        </div>
    </div>
</div>