/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: aliceblue;
    color: var(--dark);
}

.clickable-row {
    cursor: pointer;
}

.evolution-bg-primary {
    background-color: aliceblue !important;
}

/*
    SWAL Styles
*/
.swal2-popup {
    background-color: white;
    color: var(--dark);
    border-radius: .75rem;
}

button.swal2-confirm {
    background-color: var(--primary-blue);
    color: white;
    border-radius: .5rem;
    transition: .3s;
}
    button.swal2-confirm:hover {
        background-color: var(--secondary-blue);
    }
button.swal2-cancel {
    background-color: var(--primary-gray);
    color: var(--dark);;
    border-radius: .5rem;
    transition: .3s;
}
    button.swal2-cancel:hover {
        background-color: var(--secondary-gray);
        color: white;
    }
.swal2-icon.swal2-warning {
    border-color: var(--primary-light);
    color: var(--primary-light);
}

/*
    INPUT CUSTOM
*/
.discret-input {
    border: 1px solid white;
    transition: .3s;
}
    .discret-input:hover {
        border: 1px solid #dee2e6;
    }


.btn-primary-blue {
    background-color: var(--primary-blue);
    color: white;
    transition: 0.3s;
}
    .btn-primary-blue:hover {
        background-color: var(--secondary-blue);
        color: white;
    }

.btn-primary-gray {
    background-color: var(--primary-gray);
    color: var(--dark);
    transition: 0.3s;
}
    .btn-primary-gray:hover {
        background-color: var(--secondary-gray);
        color: white;
    }

:root {
    --primary-blue: #0085d3;
    --secondary-blue: #255c99;
    --light-blue: #7EA3CC;
    --primary-gray: #aab7c1;
    --secondary-gray: #5d6e7a;
    --primary-dark-blue: #264160;
    --dark: #262626;

    --light-blue-bg: #dae5f0;

    --ns-blue: #0077B9;
    --ns-cyan: #59BFCB;
    --ns-green: #7DB62D;
    --ns-orange: #EF8105;
    --ns-navy: #01384E;
    --ns-red: #E20348;
}