
<div class="accordion" id="accordionFlushExample">
    @defer(when inputActions != null) {
        @if(inputActions?.length) {
            @for (action of inputActions; track $index) {
                <div class="accordion-item rounded-3 border-0 border-3 border-info border-start mb-3 shadow-sm">
                    <h2 class="accordion-header bg-transparent" [id]="'flush-heading-' + action.id">
                        <button class="accordion-button bg-white rounded-3 text-dark" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#flush-collapse' + action.id" aria-expanded="false" 
                            [attr.aria-controls]="'flush-collapse' + action.id">
                            <input type="text" class="form-control fs-5 p-0 col-md-6 w-50 discret-input px-1" [value]="action.what"
                                maxlength="50" [id]="'what-' + action.id" (blur)="editAction(action.id)" (keydown.enter)="forceBlur($event)">
                        </button>
                    </h2>
                    <div [id]="'flush-collapse' + action.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading' + action.id"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-start px-5">
                            <p class="mb-2" [innerHTML]="'<b>Por quê? </b>' + action.why"></p>
                            <p class="mb-2" [innerHTML]="'<b>Onde? </b>' + action.where"></p>
                            <p class="mb-2" [innerHTML]="'<b>Quando? </b>' + action.when"></p>
                            <p class="mb-2" [innerHTML]="'<b>Quem? </b>' + action.who"></p>
                            <p class="mb-2" [innerHTML]="'<b>Como? </b>' + action.how"></p>
                            <p class="mb-2" [innerHTML]="'<b>Quanto custa? </b>' + action.howMuch"></p>
                            <button class="trash-icon" (click)="deleteAction(action.id)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
        @else {
            <p class="my-4">Nenhuma ação cadastrada</p>
        }
    }
    @placeholder {
        <p class="placeholder-glow">
            <span class="placeholder fs-1 rounded-2 col-12"></span>
        </p>
    }

    @defer (on timer(15s)) {
    @if (!inputActions) {
        <p class="badge fs-6 text-danger"><i class="fa-solid fa-triangle-exclamation"></i> Houve uma falha ao carregar os dados</p>
    }
}
</div>

@if(inputActions) {
    <div class="card mb-3 shadow-sm rounded-3 border-0">
        <button class="card-body btn rounded-3 text-start text-dark-emphasis" title="Clique para criar uma nova ação"
            (click)="goToForm(true)">
            <i class="fa-solid fa-plus"></i> Adicione uma nova ação
        </button>
    </div>
}